%table
  %thead
    %tr
      %th
        Row Number
      %th
        Error Messages

  %tbody
    
    - @data_import.error_messages.each do |err|
      %tr
        %td= err[:index]
        %td= err[:error]


